name: CI
on:
    push:
        branches:
            - master
    pull_request:
jobs:
    build:
        name: Assemble
        runs-on: ubuntu-latest
        timeout-minutes: 25
        env:
            JAVA_TOOL_OPTIONS: -Xmx6g
            GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false -Dkotlin.compiler.execution.strategy=in-process
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v1
              with:
                  java-version: 11
            - uses: actions/cache@v2
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                key: ${{ runner.os }}-gradle-false-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                restore-keys: |
                  ${{ runner.os }}-gradle-false-
                  ${{ runner.os }}-gradle-
            - name: Assemble
              run: ./gradlew assemble
              working-directory: .
            - name: Cleanup Gradle Cache
              run: |
                rm -f ~/.gradle/caches/modules-2/modules-2.lock
                rm -f ~/.gradle/caches/modules-2/gc.properties
    detekt:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        strategy:
          fail-fast: false
          matrix:
            compose-enabled: [ true,false ]
        name: Detekt [jetpack-compose-enabled=${{ matrix.compose-enabled }}]
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v1
              with:
                  java-version: 11
            - name: Detekt
              run: ./gradlew detekt -PuseCompose=${{ matrix.compose-enabled }} --stacktrace
              working-directory: .
            - name: Upload failure reports
              if: failure()
              uses: actions/upload-artifact@v2
              with:
                name: detekt-reports-compose-${{ matrix.compose-enabled }}
                path: '**/build/reports'

    unit-tests:
        runs-on: ubuntu-latest
        timeout-minutes: 20
        env:
            JAVA_TOOL_OPTIONS: -Xmx4g
            GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false -Dkotlin.compiler.execution.strategy=in-process
        strategy:
          fail-fast: false
          matrix:
            compose-enabled: [ true,false ]
        name: Unit tests [jetpack-compose-enabled=${{ matrix.compose-enabled }}]
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v1
              with:
                  java-version: 11
            - uses: actions/cache@v2
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                key: ${{ runner.os }}-gradle-${{ matrix.compose-enabled }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                restore-keys: |
                  ${{ runner.os }}-gradle-${{ matrix.compose-enabled }}-
                  ${{ runner.os }}-gradle-
            - name: Unit tests
              run: ./gradlew testDebugUnitTest -PuseCompose=${{ matrix.compose-enabled }}
              working-directory: .
            - name: Upload failure reports
              if: failure()
              uses: actions/upload-artifact@v2
              with:
                name: unit-test-reports-compose-${{ matrix.compose-enabled }}
                path: '**/build/reports'
            - name: Cleanup Gradle Cache
              run: |
                rm -f ~/.gradle/caches/modules-2/modules-2.lock
                rm -f ~/.gradle/caches/modules-2/gc.properties

    instrumentation-tests:
        runs-on: macOS-latest
        timeout-minutes: 60
        env:
            JAVA_TOOL_OPTIONS: -Xmx4g
            GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false -Dkotlin.compiler.execution.strategy=in-process
        strategy:
            fail-fast: false
            matrix:
                api-level: [22,25,29]
                compose-enabled: [true,false]
                exclude:
                    - api-level: 22
                      compose-enabled: true
        name: Instrumentation tests [API=${{ matrix.api-level }}, jetpack-compose-enabled=${{ matrix.compose-enabled }}]
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v1
              with:
                  java-version: 11
            - uses: actions/cache@v2
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                key: ${{ runner.os }}-gradle-${{ matrix.compose-enabled }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                restore-keys: |
                  ${{ runner.os }}-gradle-${{ matrix.compose-enabled }}-
                  ${{ runner.os }}-gradle-
                  
            - uses: actions/cache@v2
              id: avd-cache
              with:
               path: |
                 ~/.android/avd/*
                 ~/.android/adb*
               key: avd
               
               
            - name: generate snapshot for caching
              if: steps.avd-cache.outputs.cache-hit != 'true'
              uses: reactivecircus/android-emulator-runner@v2
              with:
                  api-level: ${{ matrix.api-level }}
                  force-avd-creation: false
                  emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
                  disable-animations: false
                  script: echo "Generated AVD snapshot for caching."
              
            - name: Instrumentation tests
              uses: reactivecircus/android-emulator-runner@v2
              with:
                  api-level: ${{ matrix.api-level }}
                  arch: x86
                  force-avd-creation: false
                  emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
                  disable-animations: true
                  script: ./gradlew connectedCheck -PuseCompose=${{ matrix.compose-enabled }}

            - name: Upload failure reports
              if: failure()
              uses: actions/upload-artifact@v2
              with:
                name: instrumentation-reports-api-${{ matrix.api-level }}-compose-${{ matrix.compose-enabled }}
                path: '**/build/reports'

            - name: Cleanup Gradle Cache
              run: |
                rm -f ~/.gradle/caches/modules-2/modules-2.lock
                rm -f ~/.gradle/caches/modules-2/gc.properties
